    <div>
       <div id="title">Knowledge.</div>
       <div id="title">Mentors.</div>
       <div id="title">Connect.</div>
     </div>  
     <div>
       <%= image_tag("home/quote.jpg", alt:"rss feed", id:"picture") %>
       <%= image_tag("home/quote.jpg", alt:"rss feed", id:"picture") %> 
       <%= image_tag("home/quote.jpg", alt:"rss feed", id:"picture") %> 
      </div>
      <div>
        <div id="header">Content, Just For You</div>
        <div id="header">Your Questions, Answered</div>
        <div id="header">Smarter Ways to Work</div>
      </div>
      <div>
        <div id="text">
          Enjoy personalized content that is from inside the minds of other forward
          thinkers - from trusted experts to peers in your field.
        </div>
        <div id="text">
          Pose your business challenge to community members and get input to inspire
          your next move.
        </div>
        <div id="text">
          Explore tools, links, and other recommendations by members who also share
          why these resources have been so helpful to their business.
        </div>
      </div>

