<span><%= link_to 'ABOUT', '#' %></span>
<span><%= link_to 'CONTACT', '#' %></span>
<span><%= link_to 'TERMS', '#' %></span>
<span><%= link_to 'PRIVACY', '#' %></span>
<span id="copyright">&copy RevioSync 2013</span>
