<div id="quotebox">
  <span id="box1">
	What our members are saying:<br>
	“Loved this forum! It was very 
	informative and enlightening…I’m 
	looking forward to the next one when 
	you are back in Accra.<br>
 	-Lizzie, Accra
  </span>
   <%= image_tag("home/quote.jpg", alt:"rss feed", id:"box2") %> 
 </div>


<div id="cost">
  <div id="title">How Much Does It Cost?</div>
  <div>
    <div id="table1">
      <table>
        <tr>
          <td>Special Year Long Membership Offer: <br>
              60GHC / 5,000 Naira
          </td>
        <tr>
      </table>
    </div>
    <div id="table2">
      <table>  
        <tr>
          <td>Daily management and leadership training.</td>
        </tr>
        <tr>
          <td>Access to top business leaders and mentor.</td>
        </tr>
        <tr>
          <td>Private network events and workshops.</td> 
        </tr>
      </table>
    </div>
  </div>
  </div>
</div>
