<div id="buttons">
    
      <div id="button1"><%= link_to 'JOIN', signup_path, class: 'link' %></div>
      <div id="button2"><%= link_to 'SIGN IN', signin_path, class: 'link' %></div>
    </div>
    <div id="intro">
      The Savvy Madam is an Exclusive Community for Young Professional African Women.
    </div>

