    <div id="buttons">   
      <div id="button1">JOIN</div>
      <div id="button2">SIGN IN</div>
    </div>
    <div id="intro">
      The Savvy Madam is an Exclusive Community for Young Professional African Women.
    </div>

