<div>
  Are you a company looking to reach smart success driven young women? Then partner with the Savvy Madam to:
  <p>
    <span class="span1">Connect with potential new hires.</span>
    <span class="span2">Creatively promote your brand to and engaged audience.</span>
    <span class="span3">Join the movement to empower young African women.</span>
  </p>
</div>
