<% provide(:title, 'Home') %>


<div id="home_page">

  <div id="banner">
    <img id="resize" src="http://agroclimate.org/adaptation/images/water-harvesting-for-irrigation-web.jpg"/>
    <img id="resize" src="http://captainkimo.com/wp-content/uploads/2010/07/high-dynamic-range-panorama-landscape-moutnain-sunset.jpg"/>
  </div>

  <div id="content">   
    <div id="login">Login
      <%= render 'shared/home/login' %>
    </div>

    <div id="intro">
      The Savvy Madam is an Exclusive Community for Young Professional African Women.
    </div>

    <div id="quote">
      The Savvy Madam is an Exclusive Community for Young Professional African Women.
    </div>


  </div>



  <div id="contact">
  </div>
  <div id="footer">
    <%= render 'shared/home/footer' %>
  </div>



</div>
