<% provide(:title, 'Title') %>

<div id="articles_page">
  <div id="title">The Savvy Madam</div>
  <div id="nav">
    <%= render 'shared/home/nav' %>
  </div>
  <div id="banner"></div>
  <div id="content">
 
   <div id="article1">Articles1
	<!--content-->
    </div>

   <div id="article2">Articles2
	<!--content-->
    </div>


  </div>
  <div id="footer">
    <%= render 'shared/home/footer' %>
  </div>
</div>
