<% provide(:title, 'Title') %>

<div id="events_page">
  <div id="title">The Savvy Madam</div>
  <div id="nav">
    <%= render 'shared/home/nav' %>
  </div>
  <div id="banner"></div>
  <div id="content">
 
   <div id="upcoming">Upcoming Events
	<!--content-->
    </div>

   <div id="past">Past Events
	<!--content-->
    </div>


  </div>
  <div id="footer">
    <%= render 'shared/home/footer' %>
  </div>
</div>
