<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type" />
  </head>
  <body>
    <h1><%= @name %> has a question for you!</h1>
    <p>
      <%= @body %>
    </p>
  </body>
</html>

