@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
}

/* Universal */

html {
  overflow-y: scroll;
}

body { 
  padding-top: 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Home Page */

#home_page {
  margin-left: auto;
  margin-right:auto;  
  max-width:1100px;
  min-width: 500px;  
  width:60%;

  #banner {
    margin-bottom: 20px;
    margin-top: -30px;
    #resize {
      max-width: 1100px;
      min-width: 500px;
      width:100%;
    }
  }
  #content {
    margin-top:15px;
    color: #606060;

    #login {
      background-color:#DBDBDB;
      margin:10px;
      margin-top:20px;
    }
 
    #intro {
      font-size: xx-large;
      font-color: white;
      text-align:center;
      background-color: #aad;
      height:100px;
    }


  }


  #footer {
    text-align:center;
    span {
      margin:30px;
      a {
        color:black;
        text-decoration:none;
        &:hover {
          text-decoration:underline;
        }
      }
    }
    #copyright {
      float:right;
    }
  }

}


/* Archived Page */

#archive_page {

 #nav {
    text-align:center;
    span {
      margin: 30px;
      font-size: large;
      a {
        color: #939393;
        text-decoration:none;
        &:hover {
          color: #5D5D5D;
          text-decoration:underline;
        }
      }
    }
  }
  #articles {
  #content {
    text-align:center;
    height:500px;
    margin-top:15px;
    color: #606060;
    
    #login {
      background-color:#DBDBDB;
      width:25%;
      margin:10px;
      float:left;
      input {
        
      }
      .sign_in_button {

      }
    }
    #articles {
      font-size: 300%;
      text-align:left;
      background-color:#EBEBEB;
      width:40%;
      margin:10px;
      float:left;
      overflow:hidden;
      padding:10px;
      .article_content {
        font-size: medium;
        overflow:hidden;
        margin-bottom:5px;
      }
      .article_title {
          font-size: large;
          color:#000000;
      }      
    }

   #events {
      font-size:300%;
      text-align:left;
      background-color:#DBDBDB;
      margin:10px;
      overflow:hidden;
      padding:10px;
      .events_content {
        font-size: medium;
        overflow:hidden;
        margin-bottom:5px;
	}
      .events_title {
         font-size: large;
	 color: #000;
       }
      }	      
    }
}


}

/* Sign up page */
#sign_up_page {
  text-align:center;
  background-color:#595c8b;
  margin:10px;
  color:#FFF;
  h1 {
    padding-top:20px;
  }
  .sign_up_form_container {
    .form_text {
      padding:10px;
      display:block;
      text-align:center;
    }

    .form_input {
      padding:5px;
      display:block;
      margin-right:auto;
      margin-left:auto;
    }
    
    .form_button_container {
      padding:20px;    
      .form_button {
        display:block;
        background-color:#595c8b;
        margin-right:auto;
        margin-left:auto;
      }
    }
  }
}


