@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -box-sizing: border-box;
}

/* Universal */

html {
  overflow-y: scroll;
}

body { 
  padding-top: 20px;
  background-image: url('background.png');
  background-attachment:fixed;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Error Messages */
#error_explanation {
  color: red;
  ul {
    text-align: left;
  }
}

/* Home Page */

#home_page {
  margin-left: auto;
  margin-right:auto;  
  max-width:800px;
  min-width: 500px;  
  width:75%;
  color:#666;
  background-color:white;

  #banner {
    margin-bottom: 20px;
    margin-top: -30px;
    #resize {
      max-width: 1100px;
      min-width: 500px;
      width:100%;
    }
  }
  #content {
    margin-bottom:20px;
    #join {
     #buttons {
      padding-bottom:110px;
      font-size:250%;
      color:white;
      text-align:center;
      #button1{
        width:48%;
        background-color:#44648f;
        float:left;
        margin:1%;
        padding-top:20px;
        padding-bottom:20px;
        a {
          text-decoration:none;
          color:#FFF;
          &:hover {
            color:#BBBBBB;
            text-decoration:underline;
          }
        }
      }
      #button2{
        width:48%;
        background-color:#8e4165;
        color:#FFF;
        text-decoration:none;
        float:left;
        margin:1%;
        padding-top:20px;
        padding-bottom:20px;
        a {
          text-decoration:none;
          color:#FFF;
          &:hover {
            color:#BBBBBB;
            text-decoration:underline;
          }
        }
      }
     }
      #intro {
        font-size: xx-large;
        color: white;
        padding:50px;
        text-align:center;
        background-color: #3c5576;
        margin-bottom:20px;
      }
    }
    #columns {
      background-color:#eee;
      height:400px;
      margin-bottom:20px;
      padding-top:2%;
      #title {
        width:30%;
        float:left;
        font-size: 200%;
        text-align:center;
        padding-left:2.5%;
        padding-bottom:2%;
      }   
      #picture {
        width:30%;
        padding-left: 2.5%;
        height:auto;
        float:left;
        padding-bottom:2%;
      }
      #header {
        width:30%;
        float:left;
        text-align:left;
        padding-left:2.5%;
        font-size:150%;
        color:#595c8b;
        text-align:center;
        padding-bottom:2%;
      }
      #text {
        width:30%;
        float:left;
        padding-left:2.5%;
        padding-bottom:2%;
      }
    }
    #info {
      #quotebox {
       margin-bottom:20px;
       height:310px;
       width:100%;
        #box1{
          width:45%;
          font-size: 18px;
          text-align:left;
          padding:5%;
          margin-bottom:20px;
          float:left;
          display:inline;
        }
        #box2 {
          max-width:45%;
          max-height:100%;
          float:right;
        }
      }
      #cost {
        border-color:white;
        border:2px;
        height:200px;
        background-color:#bbb;
        #title {
          font-size:300%;
          text-align:center;
        }
        #table1 {
          font-size:200%;
          width:45%;
          float:left;
          background-color:#aaa;
          padding:1.5%;
          margin:1%;
        }
        #table2 {
          font-size:120%;
          width:45%;
          float:left;
          background-color:#aaa;
          padding:1.5%;
          margin:1%;
        }
      }
    } 
    #press {
      background-color:#eee;
      padding:5%;
      font-size:20px;
      div {
        .span1 {
          display:block;
        }
        .span2 {
          display:block;
        }
        .span3 {
          display:block;
        }
      }
    }
  }
  #footer {
    text-align:center;
    span {
      margin:30px;
      a {
        color:black;
        text-decoration:none;
        &:hover {
          text-decoration:underline;
        }
      }
    }
    #copyright {
      float:right;
    }
  }
}





/* Archived Page */

#archive_page {

 #nav {
    text-align:center;
    span {
      margin: 30px;
      font-size: large;
      a {
        color: #939393;
        text-decoration:none;
        &:hover {
          color: #5D5D5D;
          text-decoration:underline;
        }
      }
    }
  }
  #content {
    text-align:center;
    height:500px;
    margin-top:15px;
    color: #606060;
    
    #login {
      background-color:#DBDBDB;
      width:25%;
      margin:10px;
      float:left;
      input {
        
      }
      .sign_in_button {

      }
    }
    #articles {
      font-size: 300%;
      text-align:left;
      background-color:#EBEBEB;
      width:40%;
      margin:10px;
      float:left;
      overflow:hidden;
      padding:10px;
      .article_content {
        font-size: medium;
        overflow:hidden;
        margin-bottom:5px;
      }
      .article_title {
          font-size: large;
          color:#000000;
      }      
    }

   #events {
      font-size:300%;
      text-align:left;
      background-color:#DBDBDB;
      margin:10px;
      overflow:hidden;
      padding:10px;
      .events_content {
        font-size: medium;
        overflow:hidden;
        margin-bottom:5px;
	    }
      .events_title {
        font-size: large;
	      color: #000;
      }
    }	      
  }
}

/* Form stylings */
#form_page {
  text-align:center;
  background-color:#595c8b;
  margin:10px;
  color:#FFF;
  width:50%;
  h1 {
    padding-top:20px;
  }
  .form_container {
    .form_text {
      padding:10px;
      display:block;
      text-align:center;
    }

    .form_input {
      padding:5px;
      display:block;
      margin-right:auto;
      margin-left:auto;
    }
    
    .form_button_container {
      padding:20px;    
      .form_button {
        display:block;
        background-color:#595c8b;
        margin-right:auto;
        margin-left:auto;
        padding:10px;
        background-color: #FFF;
      }
    }
  }
}


/* Contact Form */
#contact {
  margin-top:20px;
  margin:5%;
  font-size:24px;
  #contact_form {
    label {
      margin-top:14px;
      display:block;
      font-size:14px;
      color:#bbb;
    }
    input {
      display:block;
    }
    .contact_button {
      margin-top:14px;
    }
  }
}


